.navbar{
    width: 100%;
    height: 70px;
    margin-bottom: 0px !important;
}

footer{
    width: 100%;
    height: 100px;
}
.barraClima{
    min-height: 50vh;
}

.container{
    width: 100%;
    min-height: calc(100vh - 100px - 50px);
}

h2{
    text-align: center;
    font-size: 24px;
    width:190px;
    text-shadow: 0px 1px 0px grey;
}

div.container{
    width: 960px;
    height: auto;
    margin:auto;
    margin-left: 41%;
    position:relative;
}

div.main{
    width: 320px;
    margin-top: 120px;
    padding: 10px 55px 40px;
    background-color: dodgerblue;
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 13px;
}

.fields {
    margin-bottom: 20px;
}

input[type=text],[type=password],[type=number],[type=date],[type=submit], select {
    width: 97.7%;
    height: 34px;
    padding-left: 5px;
    margin-top: 8px;
    box-shadow: 0 0 5px #fff;
    border: 2px solid #fff;
    font-size: 16px;
}

label{
    color: #fff;
    text-shadow: 0 1px 0 grey;
    font-size: 14px;
    font-weight: bold;
}

#login {
    width: 100%;
    background: dodgerblue;
    box-shadow: 0 0 5px #fff;
    font-size: 20px;
    cursor: pointer;
    color: white;
    text-shadow: 0px 1px 0px grey;
}

#login a{
    text-decoration: none;
    color: white;
}

#login:hover{
    background: linear-gradient(#36caf0 5%, #22abe9 100%);
}

div.registroContainer{
    width: 70%;
    margin-top: 80px;
    padding: 10px 55px 40px;
    background-color: dodgerblue;
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 13px;
}

div.containerRegistro{
    min-height: calc(100vh - 100px - 50px);
    width: 60%;
    height: auto;
    margin:auto;
    margin-left:30%;
    position:relative;
}

.containerInicio{
    width: 100%;
    min-height: calc(100vh - 100px - 50px);
    width: 960px;
    height: auto;
    margin:auto;
    position:relative;
}

.containerServicios{
    min-height: calc(100vh - 100px - 50px);
    width: 100%;
    height: auto;
    margin:auto;
    position:relative;
}

.contenido-servicios{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.seccionServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
}

.buttonReservar{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
}

.categorias{
    width: 25%;
}